body{
    background-image: linear-gradient(#AFEEEE, #E6E6FA);
    }
    .nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        display: flex !important;
        flex-wrap: nowrap !important;   
        justify-content: space-around !important;
    }
    .navbar {
        background-color: transparent !important;
        border-color: transparent !important;
    }
    
    .navbar-nav {
        margin: 7.5px 10px;
    }
    
    #ulNav>li {
        margin-left: 70px;
        font-size: 2em;
        text-transform: uppercase;
        font-weight: bold;
    
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-top: 10px;
    
    }
    
    a:hover{
        color: black !important;
    }
    a {
        color:#191970 !important;
        text-decoration: none;
        background-color: transparent;
        font-size: 35px;
    }
    
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
      }
      
      .navbar .navbar-collapse {
        text-align: center;
      }
  
      .paragraphe{
        font-family: 'Bree Serif', serif;
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;

      }
    .img-cover{
        width: 100%;
        height: 380px !important;
        background-size: cover;
        background-repeat: no-repeat;
      }
    
      h1{
        
            color: rgb(34, 50, 95);
            font-weight: 2em;
            font-family: 'Bree Serif', serif;
            margin: 30px 0px 40px 30px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
        
      }
    .def{
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: 25px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .cadre{
        margin-top: 30px;
        margin-bottom: 30px;
    }

      body{
        background-image: linear-gradient(#AFEEEE, #E6E6FA);
        }
        .nav {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            display: flex !important;
            flex-wrap: nowrap !important;   
            justify-content: space-around !important;
        }
        .navbar {
            background-color: transparent !important;
            border-color: transparent !important;
        }
        
        .navbar-nav {
            margin: 7.5px 10px;
        }
        
        #ulNav>li {
            margin-left: 70px;
            font-size: 2em;
            text-transform: uppercase;
            font-weight: bold;
        
        }
        .nav>li>a {
            position: relative;
            display: block;
            padding: 10px 15px;
            margin-top: 10px;
        
        }
        
        a:hover{
            color: black !important;
        }
        a {
            color:#191970 !important;
            text-decoration: none;
            background-color: transparent;
            font-size: 35px;
        }
        
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
            vertical-align: top;
          }
          
          .navbar .navbar-collapse {
            text-align: center;
          }
        .img-cover{
            width: 100%;
            height: 380px !important;
            background-size: cover;
            background-repeat: no-repeat;
          }
      h1{
            
                color: rgb(34, 50, 95);
                font-weight: 2em;
                font-family: 'Bree Serif', serif;
                margin: 30px 0px 40px 30px;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
            
          }
    .def{
            margin-bottom: 15px;
            margin-top: 25px;
            margin-left: 15px;
            margin-right: 15px;
        }
    .cadre{
            margin-top: 30px;
            margin-bottom: 30px;
    

      }
  
  .flotte {
    float:right;
  }
  .bord{
      margin-top: 50px;
      margin-bottom: 50px;
  }
.taille{
    width: 210px;
    height: 220px;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.open{
    padding: 10px;
    background: #DDD;
    margin: 20px auto 0;
}
.box{
    padding: 20px;
    margin: auto;
    display: none;
}
.open0{
    padding: 10px;
    background: #DDD;
    margin: 20px auto 0;
}
.box0{
    padding: 20px;
    margin: auto;
    display: none;
}
.open1{
    padding: 10px;
    background: #DDD;
    margin: 20px auto 0;
}
.box1{
    padding: 20px;
    margin: auto;
    display: none;
}
.open2{
    padding: 10px;
    background: #DDD;
    margin: 20px auto 0;
}
.box2{
    padding: 20px;
    margin: auto;
    display: none;
}
.scale-up-center {
	-webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-3-23 14:40:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  .scale-up-bl {
	-webkit-animation: scale-up-bl 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-bl 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-3-23 14:33:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-bl
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-bl {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }
  @keyframes scale-up-bl {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }
 p{
    font-family: cursive;
    font-size: 18px;
  }
  .list{
    font-family: cursive;
    font-size: 18px;
  }
  .marg1{
    margin-top: 50px;
  }
 

  

